## Using NLP concepts in practise
### Real or Not? NLP with Disaster Tweets
Predict which Tweets are about real disasters and which ones are not <br>
https://www.kaggle.com/c/nlp-getting-started/overview

## Imports libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn import feature_extraction, linear_model, model_selection, preprocessing
import urllib.request

## Loads data

In [2]:
!wget https://raw.githubusercontent.com/AlicjaDobrzeniecka/NLP-chatbot/master/nlp-kaggle/train.csv
!wget https://raw.githubusercontent.com/AlicjaDobrzeniecka/NLP-chatbot/master/nlp-kaggle/test.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

## Shows data

In [4]:
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

## Chooses tweet that is not about disaster event (target value == 0)

In [6]:
train_df[train_df["target"] == 0]["text"].values[0]

"What's up man?"

## Chooses tweet about disaster event (target value == 1)

In [7]:
train_df[train_df["target"] == 1]["text"].values[0]

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'

In [9]:
count_vectorizer = feature_extraction.text.CountVectorizer()

In [13]:
train_vectors = count_vectorizer.fit_transform(train_df["text"])

In [14]:
print(train_vectors[0].todense().shape)
print(train_vectors[0].todense())

(1, 21637)
[[0 0 0 ... 0 0 0]]

In [15]:
test_vectors = count_vectorizer.transform(test_df["text"])

In [16]:
print(test_vectors[0].todense().shape)
print(test_vectors[0].todense())

(1, 21637)
[[0 0 0 ... 0 0 0]]

### Budowa modelu

In [17]:
clf = linear_model.RidgeClassifier()

In [26]:
scores = model_selection.cross_val_score(clf, train_vectors, train_df["target"], cv=6, scoring="f1")

In [28]:
scores

array([0.61554846, 0.54313725, 0.54414414, 0.49799197, 0.63813953,
       0.68198529])

In [20]:
clf.fit(train_vectors, train_df["target"])

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
        max_iter=None, normalize=False, random_state=None, solver='auto',
        tol=0.001)

In [23]:
sample_submission = pd.read_csv('sample_submission.csv')

In [24]:
sample_submission["target"] = clf.predict(test_vectors)

In [25]:
sample_submission.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       0
4  11       1